<section class="country-container" *ngIf="country">
  <div class="flag"><img [src]="country.flags.svg" /></div>
  <div class="info">
    <h2>
      <b>{{ country.translations["spa"].common }}</b>
    </h2>
    <div class="info__details">
      <div class="info__details--1">
        <p><b>Nombre Nativo: </b>{{ nativeName }}</p>
        <p><b>Habitantes: </b>{{ country.population | number }}</p>
        <p><b>Área: </b>{{ country.area | number }} km<sup>2</sup></p>
        <p><b>Región: </b>{{ country.region | regionTraductor }}</p>
        <p><b>Capital: </b>{{ country.capital }}</p>
      </div>
      <br />
      <div class="info__details--2">
        <p><b>Zona Horaria: </b>{{ country.timezones[0] }}</p>
        <p><b>Salida al Mar: </b>{{ country.landlocked ? "No" : "Sí" }}</p>
        <p>
          <b>Ubicación: </b>
          <a mat-flat-button [href]="country.maps.googleMaps" target="_blank" rel="noopener">Ver Mapa</a>
        </p>
      </div>
    </div>
    <br />
    <div class="info__border-countries">
      <mat-chip-list>
        <span><b>Países Limítrofes:</b></span>
        <span *ngIf="borders.length < 1">No posee</span>
        <mat-chip color="basic" *ngFor="let border of borders" routerLink="../{{ border.cca3 }}">
          {{ border.translations["spa"].common }}
        </mat-chip>
      </mat-chip-list>
    </div>
  </div>
</section>
