<div class="btn-container">
  <app-go-back-button></app-go-back-button>
</div>

<div class="loader-bar" *ngIf="loadingCountry | async; else infoCountry">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>

<ng-template #infoCountry>
  <section *ngIf="country" class="country-container">
    <div class="flag">
      <img src="https://flagcdn.com/w640/{{ country.code2.toLocaleLowerCase() }}.png" />
    </div>

    <div class="info">
      <h2><b>{{ country.nameSpa | uppercase }}</b></h2>

      <div class="info__details">

        <table>
          <tr>
            <th>Nombre Nativo</th>
            <td>{{ country.nativeName }}</td>
          </tr>
          <tr>
            <th>Habitantes</th>
            <td>{{ country.population | number }}</td>
          </tr>
          <tr>
            <th>Área</th>
            <td>{{ country.area | number }} km²</td>
          </tr>
          <tr>
            <th>Región</th>
            <td>{{ country.region | regionTraductor }}</td>
          </tr>
          <tr>
            <th>Capital</th>
            <td>{{ country.capital }}</td>
          </tr>
        </table>

        <table>
          <tr>
            <th>Zona Horaria</th>
            <td>{{ country.timezones[0] }}</td>
          </tr>
          <tr>
            <th>Salida al Mar</th>
            <td>{{ country.landlocked ? "No" : "Sí" }}</td>
          </tr>
          <tr>
          <tr>
            <th>Ubicación</th>
            <td>
              <a [href]="country.map" target="_blank" rel="noopener">
                <span class="text">Ver Mapa</span>
                <span class="material-symbols-outlined location">location_on</span>
              </a>
            </td>
          </tr>
        </table>
      </div>

      <br />

      <table class="info__border-countries">
        <tr>
          <th>Países limítrofes</th>
          <td>
            <mat-chip-list>
              <div *ngIf="loadingBorders | async; else borderNames" class="loader-dots"></div>

              <ng-template #borderNames>
                <span *ngIf="borders.length < 1">No posee</span>

                <mat-chip color="basic" *ngFor="let border of borders" routerLink="../{{ border.code3 }}">
                  {{ border.nameSpa }}
                </mat-chip>
              </ng-template>
            </mat-chip-list>
          </td>
        </tr>
      </table>

      <!-- <div class="info__border-countries">
        <mat-chip-list>
          <span class="borders-label"><b>Países Limítrofes:</b></span>

          <div *ngIf="loadingBorders | async; else borderNames" class="loader-dots"></div>

          <ng-template #borderNames>
            <span *ngIf="borders.length < 1">No posee</span>

            <mat-chip color="basic" *ngFor="let border of borders" routerLink="../{{ border.code3 }}">
              {{ border.nameSpa }}
            </mat-chip>
          </ng-template>
        </mat-chip-list>
      </div> -->
    </div>
  </section>
</ng-template>
