.mat-sidenav-container {
   top: 56px;
   min-height: calc(100vh - 56px);
   background-color: hsl(0, 0%, 98%);
   max-width: 2000px;
   margin: auto;
}

.mat-sidenav {
   top: 56px !important;
   padding: 15px 0px;
   min-width: 220px;
}

.mat-sidenav h3 {
   font-size: 1.1rem;
   margin: 0;
   padding: 0 20px;
}

.mat-sidenav li {
   cursor: pointer;
   list-style-type: none;
   padding: 0.8rem 3rem;
   font-size: 1rem;
   user-select: none;
}

.mat-sidenav li:hover {
   background-color: #ddd;
   color: black;
}

.active {
   background-color: #eee;
   color: #3f51b5;
   font-weight: 900;
}

.go-login {
   cursor: pointer;
}

::ng-deep .loader-bar {
   width: 90%;
   margin: 1rem auto;
}

::ng-deep .mat-simple-snackbar {
   font-size: 1rem;
}

@media screen and (min-width: 576px) {
   .mat-sidenav-container {
      top: 64px;
      min-height: calc(100vh - 64px);
   }

   .mat-sidenav {
      top: 64px !important;
   }
}

@media screen and (min-width: 2000px) {
   .mat-drawer-side {
      border-left: solid 1px rgba(0, 0, 0, .12);
   }
}
