<header>
  <app-nav-bar (onMenuClick)="sidenav.toggle()" (onFavClick)="close(sidenav)"></app-nav-bar>
</header>

<mat-sidenav-container>
  <mat-sidenav
    #sidenav [mode]="sidenavMode"
    fixedInViewport="true"
    [opened]="sidenavOpened"
    [disableClose]="sidenavDisableClose">
    <ng-container *ngIf="isXSmall"
  >
      <ng-container *ngIf="!loggedUser; else user">
        <h3 routerLink="/auth/login" class="go-login">Iniciar Sesión</h3>
      </ng-container>

      <ng-template #user>
        <h3>
          <b>{{ loggedUser }}</b>
        </h3>
        <ul>
          <li matRipple routerLink="profile" routerLinkActive="active" (click)="close(sidenav)">
            Perfil
          </li>
          <li matRipple routerLinkActive="active" (click)="close(sidenav); logout()">
            Cerrar Sesión
          </li>
        </ul>
      </ng-template>

      <br />
      <mat-divider></mat-divider>
      <br />
    </ng-container>

    <h3><b>Buscar por</b></h3>

    <ul>
      <li matRipple routerLink="by-country" routerLinkActive="active" (click)="close(sidenav)">
        País
      </li>
      <li matRipple routerLink="by-capital" routerLinkActive="active" (click)="close(sidenav)">
        Capital
      </li>
      <li
        *ngIf="loggedUser"
        matRipple routerLink="favorites"
        routerLinkActive="active"
        (click)="close(sidenav)"
      >
        Favorito
      </li>
    </ul>

    <br />
    <mat-divider style="margin: 0 15px"></mat-divider>
    <br />
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
