<section>
  <form [formGroup]="countriesForm" class="search-form" autocomplete="off">
    <app-input-search
      class="search-form__input-text"
      [region]="selectedRegion"
      placeHolderInput="Buscar país..."
      [sessionValue]="termSessionCountry"
      (onSubmit)="searchCountries($event)"
    ></app-input-search>

    <mat-form-field appearance="outline" class="search-form__select">
      <mat-label>Región</mat-label>
      <mat-select formControlName="region">
        <mat-option>Todas</mat-option>
        <mat-option value="africa">África</mat-option>
        <mat-option value="americas">América</mat-option>
        <mat-option value="asia">Asia</mat-option>
        <mat-option value="europe">Europa</mat-option>
        <mat-option value="oceania">Oceanía</mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</section>

<div class="loader-bar" *ngIf="isLoading$ | async; else countriesGrid">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>

<ng-template #countriesGrid>
  <section class="grid-cards-container">
    <div class="grid-cards-item" *ngFor="let country of filteredCountries">
      <app-card-country
        [country]="country"
        [isFavorite]="checkIsFavorite(country.cca3)"
      ></app-card-country>
    </div>
  </section>
</ng-template>
