html,
body {
   min-height: 100vh;
}

*,
*::after,
*::before {
   box-sizing: border-box;
}

body {
   margin: 0;
   font-family: Roboto, "Helvetica Neue", sans-serif;
}

ul {
   margin: 0;
   padding: 0;
}

.grid-cards-container {
   padding: 0 4% 40px;
   display: grid;
   grid-template-columns: repeat(auto-fill, 260px);
   justify-content: space-evenly;
   row-gap: 2rem;
   column-gap: 2rem;
}

.grid-cards-item {
   width: max-content;
   margin: auto;
}

/* Search forms styles */
.search-form-container {
   display: flex;
   flex-direction: column;
}

.search-form-container h2 {
   text-align: center;
   padding: 16px 16px 0;
}

.search-form {
   width: 90%;
   margin: auto;
   padding: 16px 0;
   display: flex;
   align-items: flex-start;
   flex-direction: column;
}

.search-form__input-text {
   width: 100%;
}

.search-form__input-text input {
   font-size: 16px;
}

.search-form__input-text mat-icon {
   margin: 0 0.5rem;
}

@media screen and (min-width: 800px) {
   .search-form-container h2 {
      font-size: 24px;
   }

   .search-form {
      flex-direction: row;
      width: max-content;
   }

   .search-form__input-text {
      width: 50vw;
      max-width: 600px;
   }
}

/* Search-page background styles */
.countries {
   background: url("src/assets/cartography.png");
   background-size: contain;
   background-repeat: no-repeat;
   background-position: center 50px;
   flex-grow: 1;
}

.no-background {
   background: none;
}

@media screen and (min-width: 768px) {
   .countries {
      background-size: 60%;
      background-position: center 80px;
   }
}

@media screen and (min-width: 1440px) {
   .countries {
      background-size: 54%;
   }
}
