<form (ngSubmit)="submitInput()">
  <mat-form-field [appearance]="inputAppearance" class="search-form__input-text">
    <mat-icon matPrefix>search</mat-icon>

    <mat-label *ngIf="inputLabel">{{ inputLabel }}</mat-label>
    <input
      #inputElement
      type="text"
      matInput
      [matAutocomplete]="auto"
      [placeholder]="inputPlaceHolder"
      [formControl]="nameInput"
      (input)="isSend = false"
      (focus)="isSend = false; searchSuggestions(nameInput.value)"
    />

    <mat-icon
      matSuffix
      *ngIf="nameInput.value !== null && nameInput.value.trim().length > 0"
      class="btn-clean"
      (click)="nameInput.reset()"
    >close</mat-icon>

    <mat-autocomplete #auto (optionSelected)="onOptionSelected($event)">
      <ng-container *ngIf="!isSend">
        <mat-option *ngFor="let country of suggestions" [value]="country.code3">
          <img src="https://flagcdn.com/w320/{{ country.code2.toLowerCase() }}.png" height="25" />
          <span>{{ country.nameSpa }}</span> |
          <small>Población: {{ country.population | number }}</small>
        </mat-option>

        <mat-divider></mat-divider>

        <mat-option id="search-term" [value]="nameInput.value">
          <span>Buscar "{{ nameInput.value }}"</span>
        </mat-option>
      </ng-container>
    </mat-autocomplete>
  </mat-form-field>
</form>
