.mat-form-field {
   width: 100%;
}

.btn-clean {
   font-weight: bold;
}

.btn-clean:hover {
   cursor: pointer;
}

.btn-clean:active {
   color: #3f51b5;
}

.mat-option img {
   margin-right: 1rem;
   vertical-align: middle;
}

.mat-form-field ::ng-deep .mat-form-field-suffix {
   align-self: center;
}

::ng-deep .mat-autocomplete-panel {
   max-height: none !important;
}
