<form (ngSubmit)="submitInput()">
  <mat-form-field [appearance]="appearanceInput" class="search-form__input-text">
    <mat-label *ngIf="labelInput">{{ labelInput }}</mat-label>
    <input
      type="text"
      matInput
      [matAutocomplete]="auto"
      [placeholder]="placeHolderInput"
      [formControl]="nameInput"
      (input)="isSend = false"
      (focus)="isSend = false; searchSuggestions(nameInput.value)"
    />
    <mat-icon matPrefix>search</mat-icon>

    <mat-autocomplete #auto (optionSelected)="onOptionSelected($event.option)">
      <ng-container *ngIf="suggestions.length > 0">
        <mat-option *ngFor="let country of suggestions" [value]="country.cca3">
          <img [src]="country.flags.svg" height="25" />
          <span>{{ country.translations["spa"].common }}</span> |
          <small>Población: {{ country.population | number }}</small>
        </mat-option>
        <mat-divider></mat-divider>
        <mat-option id="search-term" [value]="nameInput.value">
          Buscar "{{ nameInput.value }}"
        </mat-option>
      </ng-container>
    </mat-autocomplete>
  </mat-form-field>
</form>
